<footer>
    <hr>
    <div class="footer-content">
        <p>&copy; <span id="current-year"></span> Vitor Diogo</p>
        <div class="social-icons">
            <a href="hhttps://github.com/vpdiogo" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <!-- <a href="https://twitter.com/diogopvitor" target="_blank">
                <i class="fab fa-twitter"></i>
            </a> -->
            <a href="https://linkedin.com/in/vitorpdiogo" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <!-- <a href="https://bsky.app/profile/diogopvitor.bsky.social" target="_blank">
                <i class="fas fa-globe"></i>
            </a> -->
        </div>
    </div>
</footer>